@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: #e3fdff;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin: 3em;
    width: 90%;
    height: 100%;
}
/* NAV UI */
.nav-UI {
    flex: 1;
    width: 23%;
    height: 50em;
    background: #3fb7eb;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow: 5px 5px #808080;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fbz {
    height: 5em;
    width: 10em;
    line-height: 3em;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.description {
    height: fit-content;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    padding-bottom: 5em;
}

.shout {
    height: fit-content;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    padding-bottom: 5em;
}

.socials {
    height: fit-content;
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    display: flex;
    flex-direction: column;
}

#socLinks-container {
    display: flex;
    padding-left: 0.5em;
    gap: 1.5em;
}

#logos {
    display: flex;
    flex-direction: column;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 0.5em;
    a {
        text-decoration: none;
        color: black;
    }
}

#links a:hover {
    color: rgb(32, 47, 255);
}
/* DATA UI */
.data-UI {
    width: 70%;
    height: 100%;
    background: #e3fdff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
}
#expense-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.add-expense {
    width: 100%;
    height: 10em;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px #808080;
    border-radius: 5px;
    border: 1px solid black;
    input,
    #category {
        padding: 6px;
        height: 3em;
        border: 3px solid #a8a8a8;
        border-radius: 5px;
        font-size: 15px;
        color: #555;
        outline: none;
    }
    .data-name:hover,
    .data-amount:hover,
    #category:hover {
        border-color: #007bff;
    }
    .data-name:focus,
    .data-amount:focus,
    #category:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    button {
        height: 2em;
        width: 8em;
        border: none;
        border-radius: 10em;
        background: #3fb7eb;
        font-size: 17px;
        color: #ffffff;
        font-family: inherit;
        font-weight: 500;
        box-shadow: 3px 3px #37a1ca;
    }
    button:hover {
        background: #37a1ca;
    }
}

.charts {
    width: 100%;
    height: 20em;
    box-shadow: 5px 5px #808080;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(243, 243, 243, 0.548);
}

.charts {
    padding: 1em;
}

.data-write {
    width: 100%;
    height: 10em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px #808080;
    border-radius: 5px;
    border: 1px solid black;
    background: #ffffff;
    button {
        height: 2em;
        width: 8em;
        border: none;
        border-radius: 10em;
        background: #3fb7eb;
        font-size: 17px;
        color: #ffffff;
        font-family: inherit;
        font-weight: 500;
        box-shadow: 3px 3px #37a1ca;
    }
    button:hover {
        background: #37a1ca;
    }
}
/* OUTPUT UI*/
.output-UI {
    width: 50%;
    height: 50em;
    background: #3fb7eb;
    border-radius: 8px;
    border: 1px solid #000000;
    box-shadow: 5px 5px #808080;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
/* TABLE UI */
.table {
    overflow: auto;
    max-height: 80%;
    position: relative;
}
.table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: none;
}
/*
.filter {
    padding: 0.5em;
    height: 4em;
    #filterCategory {
        padding: 6px;
        height: 3.5em;
        border-radius: 5px;
        font-size: 15px;
        outline: none;
        font-weight: bold;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
        #filterCaterogy::after {
            content: "\25BC";
            pointer-events: none;
        }
    }
    #filterForm {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}*/

#filterForm {
    display: flex;
    gap: 10px;
    padding-bottom: 1em;
}

#filterButton {
    display: flex;
    gap: 1.5em;
    button {
        width: 4em;
        height: 2em;
        outline: none;
        border: none;
        font-weight: bold;
        background: none;
        transition: opacity 0.3s ease;
    }
    button:hover {
        transform: scale(1.3);
        border: 1px solid black;
    }
    #All:focus {
        transform: scale(1.3);
        border: none;
    }
    #otherButton:focus {
        transform: scale(1.3);
        border: 1px solid black;
    }
}

.table th {
    top: 0;
    position: sticky;
    z-index: 20;
    left: 0;
}
.table th,
tr {
    background: #3fb7eb;
    border-spacing: 5px;
    padding: 10px;
    border: none;
    text-align: center;
    line-height: 30px;
}

.table tr {
    font-weight: 500;
}

.delete {
    border-radius: 5px;
    width: 5em;
    height: 2em;
}

.delete:hover {
    background: red;
    color: white;
}

/* TOTAL UI */
.total {
    padding: 1em;
    margin-top: auto;
    height: 10%;
    text-align: right;
}

#total-amount span {
    font-size: 3em;
}
/* PROMPT */

.containerBody {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 21;
    backdrop-filter: blur(4px);
    display: none;
}
.prompt-container {
    width: 30%;
    height: 20%;
    background: white;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -95%);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3em;
    box-sizing: border-box;
    padding: 2em;
}
#question {
    text-align: center;
    font-weight: 800;
}
#choices {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2em;
    margin: auto;
}

#choices button {
    width: 8em;
    height: 3em;
    outline: 0;
    border: 0;
    border-radius: 6px;
    font-weight: 800;
}

#choices button:hover {
    background: #929292;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 720px) {
    body {
        display: flex;
        justify-content: center;
    }
    .container {
        margin: 1em;
        padding-right: 4em;
        width: 100%;
        flex-direction: column;
    }

    .nav-UI,
    .data-UI,
    .output-UI {
        width: 100%;
        flex: 1;
    }

    .add-expense {
        flex-direction: column;
        padding: 1em;
    }

    input,
    #category,
    button {
        width: 100%;
    }

    .charts {
        height: auto;
    }

    .data-write {
        flex-direction: column;
        padding: 1em;
    }

    #filterForm,
    #filterButton {
        flex-direction: column;
        gap: 10px;
    }

    #filterButton button {
        width: 100%;
    }
}
